<!DOCTYPE html>
<html>
  <head>
    <title>My Cash Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0SPWQM395B"></script>
    <%= javascript_include_tag 'analytics', async: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="theme-light" data-controller="theme">
    <div class="page">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="page-wrapper">
        <%= yield %>
        <div
          class="modal fade"
          tabindex="-1"
          data-controller="modal"
          data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
          >
          <div class="modal-dialog">
            <div class="modal-content">
              <%= turbo_frame_tag "modal" %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
