<!DOCTYPE html>
<html>
  <head>
    <title>My Cash Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="my-3">
      <%= yield %>
    </div>
    <div
      class="modal fade"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/js/tabler.min.js"></script>
  </body>
</html>
