<div class="col-sm-6 col-lg-6">
  <div class="card d-flex flex-column">
    <div class="row row-0 flex-fill">
      <div class="col-md-3">
        <%= image_tag "westpac-logo.png", class: "w-100 h-100" %>
      </div>
      <div class="col border-start">
        <div class="card-body text-center">
          <h3><%= account.name %></h3>
          <div class="row">
            <div class="col">
              <samp class="text-muted">Bank: <%= account.bank_name.capitalize %></samp>
            </div>
            <div class="col">
              <samp class="text-muted">Type: <%= account.account_type.capitalize %></samp>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <samp class="text-muted">Owner: <%= account.owner_name %></samp>
            </div>
            <div class="col">
              <samp class="text-muted">Number: <%= account.account_number %></samp>
            </div>
          </div>
          <div class="row">
            <div class="col mt-3">
              <strong>Balance: $<%= number_with_precision(account.current_balance, precision: 2) %></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
